@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
background-color: rgb(243, 243, 243);
}

.container {
  margin: 0 auto;
  max-width: 100%;
  padding: 0;
  @media (min-width: 1920px) {
    max-width: 1536px;
  }
  @media (max-width: 765) {
    padding: 0 20px;
  }
}