@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
}

.container {
  margin: 0 auto;
  max-width: 1012px;
  padding: 0 20px;
  @media (min-width: 1280px) {
    max-width: 1180px;
    padding: 0 20px;
  }
}
